p = image_tag @post.picture.url, width: "100%"
p = @post.body

hr
= link_to '<< Back', posts_path, class: "btn btn-secondary btn-sm"
|　
= link_to 'Edit', edit_post_path(@post), class: "btn btn-secondary btn-sm"
